@use "~/src/themes/spacings" as spacings;
@use "~/src/themes/palette" as palette;
@use "~/src/themes/picture-widths" as picture-widths;
@use "~/src/themes/breakpoints" as breakpoints;

.AboutButton {
  img {
    width: picture-widths.$ICON-MEDIUM;
    padding: spacings.$FULL;

    // Small mobile
    @media (max-width: breakpoints.$FLIPPHONE) {
      width: picture-widths.$ICON-SMALL;
    }
  }

  .flare {
    border-bottom: 5px solid palette.$SYSTEM-BLUE;
  }

  .instagram {
    border-bottom: 5px solid palette.$INSTAGRAM;
  }

  .discord {
    border-bottom: 5px solid palette.$DISCORD;
  }
}

.AboutBar {
  display: flex;
  flex-direction: "inline";
  justify-content: center;
  padding: 0 0 spacings.$DOUBLE 0;
  padding-bottom: spacings.$SEXTUPLE;
}

.title {
  padding-bottom: spacings.$FULL;
  display: flex;
  flex-direction: "inline";
  justify-content: center;
}
