@use "../../themes/spacings" as spacings;
@use "../../themes/picture-widths" as picture-widths;
@use "../../themes/breakpoints" as breakpoints;

.learnMore {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: spacings.$TRIPLE;

    .infoIcon {
        width: picture-widths.$ICON-SMALL;
        margin-right: 4px;
    }
    
    .infoDetail {
        width: 70%;
        margin-top: spacings.$FULL;
        white-space: pre-line;
        text-align: justify;
        text-justify: inter-word;
    
        @media (min-width: breakpoints.$COMPUTER) {
            width: 33%;
        }
    }
}
