@use '../../themes/theme' as theme;

.frameContainer {
  display: flex;
  justify-content: center;
}

.art {
  border: 1px solid theme.palette('nardo-grey');
  border-radius: theme.spacing('full');

  // Desktop/Large screens
  @media (min-width: theme.breakpoint('computer')) {
    width: theme.picture-widths('computer');
  }

  // Small desktop/Large tablet
  @media (min-width: theme.breakpoint('tablet')) and (max-width: theme.breakpoint('computer')) {
    width: theme.picture-widths('computer');
  }

  // Tablet
  @media (min-width: theme.breakpoint('smartphone')) and (max-width: theme.breakpoint('tablet')) {
    width: theme.picture-widths('tablet');
  }

  // Large mobile
  @media (min-width: theme.breakpoint('flipphone')) and (max-width: theme.breakpoint('smartphone')) {
    width: theme.picture-widths('smartphone');
  }

  // Small mobile
  @media (max-width: theme.breakpoint('flipphone')) {
    width: theme.picture-widths('flipphone');
  }
}