@use "../../themes/spacings" as spacings;
@use "../../themes/picture-widths" as picture-widths;
@use "../../themes/breakpoints" as breakpoints;

.exhibit {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: spacings.$TRIPLE;
}

.frame {
    margin-bottom: 400px;
    background-color: #e00a5a;
}

.infoPlaque {
    padding-bottom: spacings.$QUADRUPLE;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    padding-top: 0;
    padding-bottom: spacings.$FULL;
    margin: 0;
}

.credits {
    padding-top: 0;
    margin: 0;
}

.infoIcon {
    width: picture-widths.$ICON-SMALL;
    margin-right: 4px;
}

.infoDetail {
    width: 70%;
    white-space: pre-line;
    text-align: justify;
    text-justify: inter-word;

    @media (min-width: breakpoints.$COMPUTER) {
        width: 33%;
    }
}

.learnMore {
    display: flex;
    align-items: center;
    flex-direction: column;

    .infoIcon {
        width: picture-widths.$ICON-SMALL;
        margin-right: 4px;
    }
    

    .CallToAction {
        margin-top: spacings.$FULL;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .ctaWrapper {
        padding-top: spacings.$DOUBLE;
    }
}

