@use "~/src/themes/spacings" as spacings;
@use "~/src/themes/palette" as palette;
@use "~/src/themes/picture-widths" as picture-widths;
@use "~/src/themes/breakpoints" as breakpoints;
@use "~/src/themes/font-sizes" as font-sizes;

.VideoEmbed {
  margin: 0 auto;
  display: block;

  @media (min-width: breakpoints.$COMPUTER) {
    width: picture-widths.$COMPUTER;
  }

  // Small desktop/Large tablet
  @media (min-width: breakpoints.$TABLET) and (max-width: breakpoints.$COMPUTER) {
    width: picture-widths.$COMPUTER;
  }

  // Tablet
  @media (min-width: breakpoints.$SMARTPHONE) and (max-width: breakpoints.$TABLET) {
    width: picture-widths.$TABLET;
  }

  // Large mobile
  @media (min-width: breakpoints.$FLIPPHONE) and (max-width: breakpoints.$SMARTPHONE) {
    width: picture-widths.$SMARTPHONE;
  }

  // Small mobile
  @media (max-width: breakpoints.$FLIPPHONE) {
    width: picture-widths.$FLIPPHONE;
  }

  h3 {
    color: palette.$CANVAS;
    padding: spacings.$DOUBLE 0 0 0;
    font-size: font-sizes.$H3;
  }

  .videoPlaque {
    background-color: palette.$SYSTEM-BLUE;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .watchDetailsContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .watchIcon {
    filter: invert(1);
    padding: spacings.$DOUBLE;
    width: picture-widths.$ICON-MEDIUM;
  }

  .watchDetails {
    color: palette.$GRAPHITE;
    width: 100%;
    white-space: pre-line;

    color: palette.$CANVAS;
    padding-bottom: spacings.$DOUBLE;
  }
}
