@use "../../themes/theme" as theme;

.MusicButton {
    img {
        width: theme.$ICON-MEDIUM;
        padding: theme.$FULL;

        // Small mobile
        @media (max-width: theme.$FLIPPHONE) {
            width: theme.$ICON-SMALL;
        }
    }

    .flare {
        border-bottom: 5px solid theme.$SYSTEM-BLUE;
    }

    .spotify {
        border-bottom: 5px solid theme.$SPOTIFY;
    }

    .soundcloud {
        border-bottom: 5px solid theme.$SOUNDCLOUD;
    }

    .youtube {
        border-bottom: 5px solid theme.$YOUTUBE;
    }

    .applemusic {
        border-bottom: 5px solid theme.$APPLEMUSIC;
    }

    .bandcamp {
        border-bottom: 5px solid theme.$BANDCAMP;
    }
}

.distroBar {
    display: flex;
    flex-direction: "inline";
    justify-content: center;
    padding: theme.$DOUBLE 0 theme.$DOUBLE 0;
    padding-bottom: theme.$SEXTUPLE;
}
