@use "../themes/spacings.scss" as spacings;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap");

.appBody {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  padding-top: spacings.$DOUBLE;
  flex-grow: 1;
}