@use "../../themes/spacings" as spacings;
@use "../../themes/palette" as palette;
@use "sass:color";

.callToAction {
    padding: spacings.$DOUBLE;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: palette.$SYSTEM-BLUE;
    text-decoration: none;
    border-radius: spacings.$HALF;

    &:hover {

        transform: scale(1.05); 
        transition: all 0.3s ease; 
    }

    
    p{
        color: palette.$CANVAS;
        &:hover {
            text-decoration: underline;
        }
    }
}
