// Color palette
$SYSTEM-BLUE: #0e53f3;
$MIDNIGHT: #010101;
$CHARCOAL: #212121;
$GRAPHITE: #555555;
$NARDO-GREY: #aaaaaa;
$CANVAS: #ffffff;
// Brand colors
$SPOTIFY: #1db954;
$YOUTUBE: #ff0000;
$SOUNDCLOUD: #ff8800;
$APPLEMUSIC: #fa243c;
$BANDCAMP: #17a0c4;
$INSTAGRAM: #dd2a7b;
$DISCORD: #5865f2;
