// Color palette
$SYSTEM-BLUE: #0E53F3;
$MIDNIGHT: #010101;
$CHARCOAL: #212121;
$GRAPHITE: #555555;
$NARDO-GREY: #AAAAAA;
$CANVAS: #FFFFFF;
// Brand colors
$SPOTIFY: #1DB954; // Spotify's brand green
$YOUTUBE: #FF0000; // YouTube's brand red
$SOUNDCLOUD: #FF8800; // SoundCloud's brand orange
$APPLEMUSIC: #FA243C; // Apple Music's brand pink
$BANDCAMP: #17A0C4; // Bandcamp's brand aqua/teal
