// Colors map
$palette: (
  'system-blue': #0E53F3,
  'midnight': #010101,
  'charcoal': #212121,
  'graphite': #555555,
  'nardo-grey': #AAAAAA,
  'canvas': #FFFFFF,
  // Brand colors
  'spotify': #1DB954, // Spotify's brand green
  'youtube': #FF0000, // YouTube's brand red
  'soundcloud': #FF8800, // SoundCloud's brand orange
  'applemusic': #FA243C, // Apple Music's brand pink
  
);

@function palette($key) {
  @return map-get($palette, $key);
}

// spacings
$spacing-base: 0.5rem;  // 8px

// Spacings map
$spacings: (
  'half': $spacing-base * 0.5,     // 4px - 0.25rem
  'full': $spacing-base,           // 8px - 0.5rem
  'double': $spacing-base * 2,     // 16px - 1rem
  'triple': $spacing-base * 3,     // 24px - 1.5rem
  'quadruple': $spacing-base * 4,  // 32px - 2rem
  'quintuple': $spacing-base * 5,  // 40px - 2.5rem
  'sextuple': $spacing-base * 6    // 48px - 3rem
);

@function spacing($key) {
  @return map-get($spacings, $key);
}

// Breakpoints map
$breakpoints: (
  'flipphone': 320px,
  'smartphone': 480px,
  'tablet': 770px,
  'computer': 1000px
);

@function breakpoint($key) {
  @return map-get($breakpoints, $key);
}

// Picture widths map
$picture-widths: (
  'icon-small': 15px,
  'icon-medium': 35px,
  'icon-large': 75px,
  'flipphone': 140px,
  'smartphone': 200px,
  'tablet': 300px,
  'computer': 350px
);

@function picture-widths($key) {
  @return map-get($picture-widths, $key);
}

// Font sizes map
$font-sizes: (
  'h1': 50px,
  'h2': 30px,
  'h3': 24px,
  'body': 16px,
  'smallprint': 12px,
  'barcode': 30px
);

@function font($key) {
  @return map-get($font-sizes, $key);
}

// Updated respond-to mixin to use the map
@mixin respond-to($breakpoint) {
  @media (min-width: breakpoint($breakpoint)) {
    @content;
  }
}