@use "../../themes/theme" as theme;

.header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid theme.$NARDO-GREY;
    padding: theme.$DOUBLE 0 theme.$DOUBLE 0;
}

.omoBrand {
    width: theme.$ICON-SMALL;
}
