@use "../../themes/theme.scss" as theme;

.footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid theme.$NARDO-GREY;
    padding: theme.$DOUBLE 0 theme.$DOUBLE 0;
}

.link {
    text-decoration: none;
    font-size: theme.$BARCODE;
    color: theme.$GRAPHITE;

    &:hover {
        color: theme.$CHARCOAL;
    }
}
