@use "~/src/themes/spacings" as spacings;
@use "~/src/themes/palette" as palette;
@use "~/src/themes/font-sizes" as font-sizes;

.footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid palette.$NARDO-GREY;
  padding: spacings.$DOUBLE 0 spacings.$DOUBLE 0;
}

.link {
  text-decoration: none;
  font-size: font-sizes.$BARCODE;
  color: palette.$GRAPHITE;

  &:hover {
    color: palette.$CHARCOAL;
    filter: drop-shadow(0 0 1px palette.$GRAPHITE);
  }
}
