* {
	box-sizing: border-box;
}

body {
	text-align: center;
}

.omo-logo {
	width: 50px;
}

.logo-button-container {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.text-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

a:link,
a:visited {
	color: #960000;
}

section {
	width: fit-content;
	margin: 0 auto;
}

.section-divider {
	border-bottom: 1px solid #cacaca;
}
